.set {
    background: #f0f1f4;
    border-radius: .1rem;
    font-weight: bold;
    color: #5b657a;
    display: inline-block; 
    line-height: 1.2;
    width: 3.5em;
    padding: .1rem .15rem;
    margin: 0;
    text-align: center;
}

.set.set-basic {
    background: #CECECE;
    color: #111;
}

.set.set-clas {
    background: #9E562C;
    color: #fff;
}

.set.set-hof {
    background: #e68a00;
    color: #111;
}

.set.set-naxx {
    background: #1C702D;
    color: #fff;
}

.set.set-gvg {
    background: #c79818;
    color: #111;
}

.set.set-brm {
    background: #f52b07;
    color: #111;
}

.set.set-tgt {
    background: #CFB6E3;
    color: #111;
}

.set.set-loe {
    background: #F5CF5F;
    color: #111;
}

.set.set-wog {
    background: #CE6190;
    color: #111;
}

.set.set-kara {
    background: #C325CE;
    color: #111;
}

.set.set-msg {
    background: #526057;
    color: #fff;
}

.set.set-ung {
    background: #A3D54F;
    color: #111;
}

.set.set-kft {
    background: #07DEFA;
    color: #111;
}

.set.set-knc {
    background: #FFB600;
    color: #111;
}
.set.set-tww {
    background: #8BF7A4;
    color: #111;
}

a.tooltip2 {
    position: relative;
    bottom: 10px;
}
a.tooltip2 strong {line-height:30px;}
a.tooltip2:hover {text-decoration:none;} 
a.tooltip2 span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:20px; margin-left:-240px;
    width:200px; line-height:16px;
}
a.tooltip2:hover span{
    display:inline; position:absolute; 
}

.callout {z-index:20;position:absolute;border:0;top:-14px;left:120px;}


.cardtile {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 5px;
    background-position: -80px 0px;
    background-size: 139px 32px;
}


/* Rarities */
.free {
    font-weight: bold;
    color: #000000;
    /*text-shadow: 0 0 2px #ffa53e, 0 0 2px #683903;*/
}

.common {
    font-weight: bold;
    color: #0FAF03;
    /*text-shadow: 0 0 2px #111111, 0 0 2px #111111;*/
}

.rare {
    font-weight: bold;
    color: #2570e5;
    /*text-shadow: 0 0 2px #5391e2, 0 0 2px #0842e2;*/
}

.epic {
    font-weight: bold;
    color: #8f2aac;
    /*text-shadow: 0 0 2px #ab79ec, 0 0 2px #7407f1;*/
}

.legendary {
    font-weight: bold;
    color: #d08d0b;
    /*text-shadow: 0 0 2px #ead7ac, 0 0 2px #ffa500;*/
}

/*CSS3 extras*/
